<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="New Tab">
    <meta name="author" content="arbauman">
    <title>API home</title>
  </head>

  <body>
    <h1>Uptime API home</h1>
    <ul>
      <li><a href="/api/rolling">Rolling</a></li>
      <li><a href="/api/uptime/today">Average uptime - Today</a></li>
      <li><a href="/api/uptime/daily">Average uptime - Daily</a></li>
      <li><a href="/api/uptime/monthly">Average uptime - Monthly</a></li>
      <li><a href="/api/uptime/yearly">Average uptime - Yearly</a></li>
      <li><a href="/api/duration/daily">Average duration - Daily</a></li>
      <li><a href="/api/duration/monthly">Average duration - Monthly</a></li>
      <li><a href="/api/duration/yearly">Average duration - Yearly</a></li>
      <li><a href="/api/disconnects/daily">Average # disconnects - Daily</a></li>
      <li><a href="/api/disconnects/monthly">Average # disconnects - Monthly</a></li>
      <li><a href="/api/disconnects/yearly">Average # disconnects - Yearly</a></li>
      <li><a href="/api/lifetime/disconnects">Lifetime # disconnects</a></li>
      <li><a href="/api/lifetime/duration">Lifetime duration length</a></li>
    </ul>
  </body>
</html>
